{% extends 'app/base.html' %}

{% block title %}Fepisode{% endblock %}

{% block content %}
{% include 'app/search_bar.html' %}

{% if movies %}
<div class="container">
    <ul>
        {% for movie in movies %}
        <li>
            <div class="row" style="border: 1px solid; border-radius: 5px;">
                <div>
                    <div class="col s2" style="">
                        <img src="{{ movie.img }}" style="width: 100px;">
                    </div>
                    <div class="col s9">
                        <h5>{{ movie.title }}</h5>
                        <p>{{ movie.plot|truncatechars:100 }}</p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="loader" hidden></div>
{% endblock %}

{% block js %}
<script>
    
</script>
{% endblock %}